.table{
    margin-top: 20px;
    overflow: scroll;
    height: 400px;
    color: rgb(28, 32, 32);
    
}

.table tr {
    display: flex;
    justify-content: space-between;
}
.table tr:nth-of-type(odd){
    background-color: rgb(236, 215, 236);
}
.table td{
    padding: 0.5rem;
}